*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true
*.ttl linguist-detectable=true
*.css linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
